*.pyc

# temporary and backup files
.#*
\#*#
*~
*.bk
.*.swp
gaudi_tmp/

# setuptools artifacts
build/
dist/
.eggs/
*.egg-info/

# test artifacts
.coverage
cover/

# virtual environments
venv/
venv2/
venv3/

# IDE / Editor files
.vscode/
 